
/* offset for mobile scaling with sidenav */
header, body, main {
  padding-left: 300px;
}

.brand-logo {
  padding-left: 500px;
}

@media only screen and (max-width : 992px) {
  header, body, main, footer {
    padding-left: 0;
  }
}

/* navbar logo image */
.logo-img {
    height: 64px;
}

@media only screen and (max-width : 600px) {
  .logo-img {
      height: 56px;
  }
}
