/* offset for mobile scaling with sidenav */
header, body, main {
  padding-left: 300px;
}

.brand-logo {
  padding-left: 500px;
}

@media only screen and (max-width : 992px) {
  header, body, main, footer {
    padding-left: 0;
  }
}

/* navbar logo image */
.logo-img {
    height: 56px;
    padding-top: 8px;
}

@media only screen and (max-width : 600px) {
  .logo-img {
      height: 48px;
      padding-top: 8px;
  }
}

.text-highlight {
  font-size: 1.25rem;
  font-weight: 300;
}

/* card resizing */
@media only screen and (min-width : 992px) {
  .about-me-card {
    width: 120px;
    float: left;
    margin-left: 20px;
  }
}

@media only screen and (min-width : 600px) and (max-width : 992px){
  .about-me-card {
    width: 120px;
    float: left;
    margin-left: 20px;
  }
}

@media only screen and (max-width : 600px) {
  .about-me-card {
    width: 25%;
    float: left;
    margin-left: 20px;
  }
  .card-content {
    font-size: 3vw;
  }
}

/* footer resizing */

.follow-button {
  width: 50px;
  float: left;
}

@media only screen and (max-width : 600px) {
  #footer-content {
    text-align: center;
    width: 170px;
    margin-left: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

/* page title */

#page-title {
  font-weight: 100;
}

@media only screen and (max-width : 600px) {
  #full-page-title {
    font-size: 7.8vw;
    text-align: center;
  }
}
